html,
body {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6ab630;
}

#app,
.helloDiv,
.infoDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.helloDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.helloDiv p {
    color: white;
    font-size: 1.5em;
}

.infoDiv {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 8%;
    width: 100%;
    background-color: rgba(236, 100, 75, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoDiv p {
    color: white;
}

.testDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    /*align-self: stretch;*/
}

.testWordDiv {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 12%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.testWordDiv p {
    font-size: 1.8em;
    color: #6ab630;
    display: inline;
}

.testWordDiv span {
    padding-left: 1.5%;
    padding-right: 1.5%;
    display: inline;
}

.testWordTransDiv {
    position: fixed;
    top: 12%;
    width: 100%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testWordTransDiv p {
    color: white;
    font-size: 1em;
}

.testKeyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.testKeyboard span {
    padding-left: 8%;
    padding-right: 8%;
    background-color: white;
    font-size: 3.5em;
    color: #6ab630;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    border-radius: 5px;
}

.testWordImgDiv {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testImg {
    background-color: white;

    padding: 2%;
    width: 75%;
    height: auto;
}

.testFinishDiv {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.testFinishDiv p {
    font-size: 5em;
    color: white;
}

/*==================================*/
.optionDiv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.optionImgsDiv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.optionImg {
    width: 35%;
    height: auto;
    padding: 3%;
    background-color: white;
    margin-top: 6%;
    margin-bottom: 6%;
    margin-left: 2%;
    margin-right: 2%;
    /*align-self: center;*/
}

.reloadOptionsBtnP {
    color: white;
    font-size: 1.2em;
    border: 1px solid white;
    border-radius: 2px;
    padding: 2px;
}
